@charset "UTF-8";
.component-container {
  margin: 1rem 0; }
  .component-container--header {
    margin: 0 0 1rem; }
  .component-container--footer {
    margin: 1rem 0 0; }
  @media (min-width: 768px) {
    .component-container {
      margin: 2rem 0; }
      .component-container--header {
        margin: 0 0 2rem; }
      .component-container--footer {
        margin: 2rem 0 0; } }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 .5rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .row {
      padding: 0 1rem; } }
  @media (min-width: 992px) {
    .row {
      max-width: 992px; } }
  @media (min-width: 1400px) {
    .row {
      max-width: 1200px; } }
  .row .column--100 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(100% - 2 * 0.5rem);
    flex: 0 1 calc(100% - 2 * 0.5rem);
    max-width: calc(100% - 2 * 0.5rem); }
  .row .column--90 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(90% - 2 * 0.5rem);
    flex: 0 1 calc(90% - 2 * 0.5rem);
    max-width: calc(90% - 2 * 0.5rem); }
  .row .column--80 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(80% - 2 * 0.5rem);
    flex: 0 1 calc(80% - 2 * 0.5rem);
    max-width: calc(80% - 2 * 0.5rem); }
  .row .column--75 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(75% - 2 * 0.5rem);
    flex: 0 1 calc(75% - 2 * 0.5rem);
    max-width: calc(75% - 2 * 0.5rem); }
  .row .column--70 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(70% - 2 * 0.5rem);
    flex: 0 1 calc(70% - 2 * 0.5rem);
    max-width: calc(70% - 2 * 0.5rem); }
  .row .column--66 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(66.66% - 2 * 0.5rem);
    flex: 0 1 calc(66.66% - 2 * 0.5rem);
    max-width: calc(66.66% - 2 * 0.5rem); }
  .row .column--50 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 2 * 0.5rem);
    flex: 0 1 calc(50% - 2 * 0.5rem);
    max-width: calc(50% - 2 * 0.5rem); }
  .row .column--40 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(40% - 2 * 0.5rem);
    flex: 0 1 calc(40% - 2 * 0.5rem);
    max-width: calc(40% - 2 * 0.5rem); }
  .row .column--33 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(33.33% - 2 * 0.5rem);
    flex: 0 1 calc(33.33% - 2 * 0.5rem);
    max-width: calc(33.33% - 2 * 0.5rem); }
  .row .column--30 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(30% - 2 * 0.5rem);
    flex: 0 1 calc(30% - 2 * 0.5rem);
    max-width: calc(30% - 2 * 0.5rem); }
  .row .column--25 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(25% - 2 * 0.5rem);
    flex: 0 1 calc(25% - 2 * 0.5rem);
    max-width: calc(25% - 2 * 0.5rem); }
  .row .column--20 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(20% - 2 * 0.5rem);
    flex: 0 1 calc(20% - 2 * 0.5rem);
    max-width: calc(20% - 2 * 0.5rem); }
  .row .column--10 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(10% - 2 * 0.5rem);
    flex: 0 1 calc(10% - 2 * 0.5rem);
    max-width: calc(10% - 2 * 0.5rem); }
  .row .column--one-eight {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(12.5% - 2 * 0.5rem);
    flex: 0 1 calc(12.5% - 2 * 0.5rem);
    max-width: calc(12.5% - 2 * 0.5rem); }
  .row .column--three-eight {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(37.5% - 2 * 0.5rem);
    flex: 0 1 calc(37.5% - 2 * 0.5rem);
    max-width: calc(37.5% - 2 * 0.5rem); }
  .row .column--five-eight {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(62.5% - 2 * 0.5rem);
    flex: 0 1 calc(62.5% - 2 * 0.5rem);
    max-width: calc(62.5% - 2 * 0.5rem); }
  .row .column--seven-eight {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(87.5% - 2 * 0.5rem);
    flex: 0 1 calc(87.5% - 2 * 0.5rem);
    max-width: calc(87.5% - 2 * 0.5rem); }
  @media (min-width: 576px) {
    .row .column--100-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 2 * 0.5rem);
      flex: 0 1 calc(100% - 2 * 0.5rem);
      max-width: calc(100% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--90-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(90% - 2 * 0.5rem);
      flex: 0 1 calc(90% - 2 * 0.5rem);
      max-width: calc(90% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--80-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(80% - 2 * 0.5rem);
      flex: 0 1 calc(80% - 2 * 0.5rem);
      max-width: calc(80% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--75-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(75% - 2 * 0.5rem);
      flex: 0 1 calc(75% - 2 * 0.5rem);
      max-width: calc(75% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--70-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(70% - 2 * 0.5rem);
      flex: 0 1 calc(70% - 2 * 0.5rem);
      max-width: calc(70% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--66-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(66.66% - 2 * 0.5rem);
      flex: 0 1 calc(66.66% - 2 * 0.5rem);
      max-width: calc(66.66% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--50-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 2 * 0.5rem);
      flex: 0 1 calc(50% - 2 * 0.5rem);
      max-width: calc(50% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--40-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(40% - 2 * 0.5rem);
      flex: 0 1 calc(40% - 2 * 0.5rem);
      max-width: calc(40% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--33-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.33% - 2 * 0.5rem);
      flex: 0 1 calc(33.33% - 2 * 0.5rem);
      max-width: calc(33.33% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--30-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(30% - 2 * 0.5rem);
      flex: 0 1 calc(30% - 2 * 0.5rem);
      max-width: calc(30% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--25-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 2 * 0.5rem);
      flex: 0 1 calc(25% - 2 * 0.5rem);
      max-width: calc(25% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--20-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(20% - 2 * 0.5rem);
      flex: 0 1 calc(20% - 2 * 0.5rem);
      max-width: calc(20% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--10-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(10% - 2 * 0.5rem);
      flex: 0 1 calc(10% - 2 * 0.5rem);
      max-width: calc(10% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--one-eight-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(12.5% - 2 * 0.5rem);
      flex: 0 1 calc(12.5% - 2 * 0.5rem);
      max-width: calc(12.5% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--three-eight-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(37.5% - 2 * 0.5rem);
      flex: 0 1 calc(37.5% - 2 * 0.5rem);
      max-width: calc(37.5% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--five-eight-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(62.5% - 2 * 0.5rem);
      flex: 0 1 calc(62.5% - 2 * 0.5rem);
      max-width: calc(62.5% - 2 * 0.5rem); } }
  @media (min-width: 576px) {
    .row .column--seven-eight-sm {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(87.5% - 2 * 0.5rem);
      flex: 0 1 calc(87.5% - 2 * 0.5rem);
      max-width: calc(87.5% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--100-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 2 * 0.5rem);
      flex: 0 1 calc(100% - 2 * 0.5rem);
      max-width: calc(100% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--90-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(90% - 2 * 0.5rem);
      flex: 0 1 calc(90% - 2 * 0.5rem);
      max-width: calc(90% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--80-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(80% - 2 * 0.5rem);
      flex: 0 1 calc(80% - 2 * 0.5rem);
      max-width: calc(80% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--75-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(75% - 2 * 0.5rem);
      flex: 0 1 calc(75% - 2 * 0.5rem);
      max-width: calc(75% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--70-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(70% - 2 * 0.5rem);
      flex: 0 1 calc(70% - 2 * 0.5rem);
      max-width: calc(70% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--66-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(66.66% - 2 * 0.5rem);
      flex: 0 1 calc(66.66% - 2 * 0.5rem);
      max-width: calc(66.66% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--50-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 2 * 0.5rem);
      flex: 0 1 calc(50% - 2 * 0.5rem);
      max-width: calc(50% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--40-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(40% - 2 * 0.5rem);
      flex: 0 1 calc(40% - 2 * 0.5rem);
      max-width: calc(40% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--33-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.33% - 2 * 0.5rem);
      flex: 0 1 calc(33.33% - 2 * 0.5rem);
      max-width: calc(33.33% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--30-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(30% - 2 * 0.5rem);
      flex: 0 1 calc(30% - 2 * 0.5rem);
      max-width: calc(30% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--25-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 2 * 0.5rem);
      flex: 0 1 calc(25% - 2 * 0.5rem);
      max-width: calc(25% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--20-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(20% - 2 * 0.5rem);
      flex: 0 1 calc(20% - 2 * 0.5rem);
      max-width: calc(20% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--10-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(10% - 2 * 0.5rem);
      flex: 0 1 calc(10% - 2 * 0.5rem);
      max-width: calc(10% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--one-eight-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(12.5% - 2 * 0.5rem);
      flex: 0 1 calc(12.5% - 2 * 0.5rem);
      max-width: calc(12.5% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--three-eight-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(37.5% - 2 * 0.5rem);
      flex: 0 1 calc(37.5% - 2 * 0.5rem);
      max-width: calc(37.5% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--five-eight-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(62.5% - 2 * 0.5rem);
      flex: 0 1 calc(62.5% - 2 * 0.5rem);
      max-width: calc(62.5% - 2 * 0.5rem); } }
  @media (min-width: 768px) {
    .row .column--seven-eight-md {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(87.5% - 2 * 0.5rem);
      flex: 0 1 calc(87.5% - 2 * 0.5rem);
      max-width: calc(87.5% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--100-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 2 * 0.5rem);
      flex: 0 1 calc(100% - 2 * 0.5rem);
      max-width: calc(100% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--90-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(90% - 2 * 0.5rem);
      flex: 0 1 calc(90% - 2 * 0.5rem);
      max-width: calc(90% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--80-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(80% - 2 * 0.5rem);
      flex: 0 1 calc(80% - 2 * 0.5rem);
      max-width: calc(80% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--75-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(75% - 2 * 0.5rem);
      flex: 0 1 calc(75% - 2 * 0.5rem);
      max-width: calc(75% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--70-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(70% - 2 * 0.5rem);
      flex: 0 1 calc(70% - 2 * 0.5rem);
      max-width: calc(70% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--66-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(66.66% - 2 * 0.5rem);
      flex: 0 1 calc(66.66% - 2 * 0.5rem);
      max-width: calc(66.66% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--50-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 2 * 0.5rem);
      flex: 0 1 calc(50% - 2 * 0.5rem);
      max-width: calc(50% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--40-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(40% - 2 * 0.5rem);
      flex: 0 1 calc(40% - 2 * 0.5rem);
      max-width: calc(40% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--33-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.33% - 2 * 0.5rem);
      flex: 0 1 calc(33.33% - 2 * 0.5rem);
      max-width: calc(33.33% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--30-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(30% - 2 * 0.5rem);
      flex: 0 1 calc(30% - 2 * 0.5rem);
      max-width: calc(30% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--25-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 2 * 0.5rem);
      flex: 0 1 calc(25% - 2 * 0.5rem);
      max-width: calc(25% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--20-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(20% - 2 * 0.5rem);
      flex: 0 1 calc(20% - 2 * 0.5rem);
      max-width: calc(20% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--10-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(10% - 2 * 0.5rem);
      flex: 0 1 calc(10% - 2 * 0.5rem);
      max-width: calc(10% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--one-eight-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(12.5% - 2 * 0.5rem);
      flex: 0 1 calc(12.5% - 2 * 0.5rem);
      max-width: calc(12.5% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--three-eight-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(37.5% - 2 * 0.5rem);
      flex: 0 1 calc(37.5% - 2 * 0.5rem);
      max-width: calc(37.5% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--five-eight-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(62.5% - 2 * 0.5rem);
      flex: 0 1 calc(62.5% - 2 * 0.5rem);
      max-width: calc(62.5% - 2 * 0.5rem); } }
  @media (min-width: 992px) {
    .row .column--seven-eight-lg {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(87.5% - 2 * 0.5rem);
      flex: 0 1 calc(87.5% - 2 * 0.5rem);
      max-width: calc(87.5% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--100-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 2 * 0.5rem);
      flex: 0 1 calc(100% - 2 * 0.5rem);
      max-width: calc(100% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--90-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(90% - 2 * 0.5rem);
      flex: 0 1 calc(90% - 2 * 0.5rem);
      max-width: calc(90% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--80-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(80% - 2 * 0.5rem);
      flex: 0 1 calc(80% - 2 * 0.5rem);
      max-width: calc(80% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--75-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(75% - 2 * 0.5rem);
      flex: 0 1 calc(75% - 2 * 0.5rem);
      max-width: calc(75% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--70-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(70% - 2 * 0.5rem);
      flex: 0 1 calc(70% - 2 * 0.5rem);
      max-width: calc(70% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--66-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(66.66% - 2 * 0.5rem);
      flex: 0 1 calc(66.66% - 2 * 0.5rem);
      max-width: calc(66.66% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--50-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 2 * 0.5rem);
      flex: 0 1 calc(50% - 2 * 0.5rem);
      max-width: calc(50% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--40-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(40% - 2 * 0.5rem);
      flex: 0 1 calc(40% - 2 * 0.5rem);
      max-width: calc(40% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--33-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.33% - 2 * 0.5rem);
      flex: 0 1 calc(33.33% - 2 * 0.5rem);
      max-width: calc(33.33% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--30-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(30% - 2 * 0.5rem);
      flex: 0 1 calc(30% - 2 * 0.5rem);
      max-width: calc(30% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--25-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 2 * 0.5rem);
      flex: 0 1 calc(25% - 2 * 0.5rem);
      max-width: calc(25% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--20-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(20% - 2 * 0.5rem);
      flex: 0 1 calc(20% - 2 * 0.5rem);
      max-width: calc(20% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--10-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(10% - 2 * 0.5rem);
      flex: 0 1 calc(10% - 2 * 0.5rem);
      max-width: calc(10% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--one-eight-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(12.5% - 2 * 0.5rem);
      flex: 0 1 calc(12.5% - 2 * 0.5rem);
      max-width: calc(12.5% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--three-eight-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(37.5% - 2 * 0.5rem);
      flex: 0 1 calc(37.5% - 2 * 0.5rem);
      max-width: calc(37.5% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--five-eight-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(62.5% - 2 * 0.5rem);
      flex: 0 1 calc(62.5% - 2 * 0.5rem);
      max-width: calc(62.5% - 2 * 0.5rem); } }
  @media (min-width: 1400px) {
    .row .column--seven-eight-xl {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(87.5% - 2 * 0.5rem);
      flex: 0 1 calc(87.5% - 2 * 0.5rem);
      max-width: calc(87.5% - 2 * 0.5rem); } }
  .row .column:not(column--100):not(:last-child) {
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .row .column:not(column--100):not(:last-child) {
        margin-bottom: 0rem; } }

.component-container--header .column:not(column--100):not(:last-child) {
  margin-bottom: 0; }

.p-hor-no {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.m-hor-no {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.p-vert-no {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.m-vert-no {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.p-no {
  padding: 0 !important; }

.m-no {
  margin: 0 !important; }

.p-top-no {
  padding-top: 0 !important; }

.m-top-no {
  margin-top: 0 !important; }

.p-bottom-no {
  padding-bottom: 0 !important; }

.m-bottom-no {
  margin-bottom: 0 !important; }

.p-left-no {
  padding-left: 0 !important; }

.m-left-no {
  margin-left: 0 !important; }

.p-right-no {
  padding-right: 0 !important; }

.m-right-no {
  margin-right: 0 !important; }

.p-hor-sm {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.m-hor-sm {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.p-vert-sm {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.m-vert-sm {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.p-sm {
  padding: 8px !important; }

.m-sm {
  margin: 8px !important; }

.p-top-sm {
  padding-top: 8px !important; }

.m-top-sm {
  margin-top: 8px !important; }

.p-bottom-sm {
  padding-bottom: 8px !important; }

.m-bottom-sm {
  margin-bottom: 8px !important; }

.p-left-sm {
  padding-left: 8px !important; }

.m-left-sm {
  margin-left: 8px !important; }

.p-right-sm {
  padding-right: 8px !important; }

.m-right-sm {
  margin-right: 8px !important; }

.p-hor-md {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.m-hor-md {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.p-vert-md {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.m-vert-md {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.p-md {
  padding: 16px !important; }

.m-md {
  margin: 16px !important; }

.p-top-md {
  padding-top: 16px !important; }

.m-top-md {
  margin-top: 16px !important; }

.p-bottom-md {
  padding-bottom: 16px !important; }

.m-bottom-md {
  margin-bottom: 16px !important; }

.p-left-md {
  padding-left: 16px !important; }

.m-left-md {
  margin-left: 16px !important; }

.p-right-md {
  padding-right: 16px !important; }

.m-right-md {
  margin-right: 16px !important; }

.p-hor-lg {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.m-hor-lg {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.p-vert-lg {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.m-vert-lg {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.p-lg {
  padding: 32px !important; }

.m-lg {
  margin: 32px !important; }

.p-top-lg {
  padding-top: 32px !important; }

.m-top-lg {
  margin-top: 32px !important; }

.p-bottom-lg {
  padding-bottom: 32px !important; }

.m-bottom-lg {
  margin-bottom: 32px !important; }

.p-left-lg {
  padding-left: 32px !important; }

.m-left-lg {
  margin-left: 32px !important; }

.p-right-lg {
  padding-right: 32px !important; }

.m-right-lg {
  margin-right: 32px !important; }

.b-rad-sm {
  border-radius: 4px !important; }

.b-top-rad-sm {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important; }

.b-bottom-rad-sm {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important; }

.b-left-rad-sm {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

.b-right-rad-sm {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important; }

.b-rad-lg {
  border-radius: 8px !important; }

.b-top-rad-lg {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important; }

.b-bottom-rad-lg {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important; }

.b-left-rad-lg {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important; }

.b-right-rad-lg {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important; }

.just--content--start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start; }

.just--content--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.just--content--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end; }

.just--content--stretch {
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch; }

.just--content--around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.just--content--between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.just--content--evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.just--items--start {
  justify-items: start; }

.just--items--center {
  justify-items: center; }

.just--items--end {
  justify-items: end; }

.just--items--baseline {
  justify-items: baseline; }

.just--self--start {
  justify-self: start; }

.just--self--center {
  justify-self: center; }

.just--self--end {
  justify-self: end; }

.just--self--stretch {
  justify-self: stretch; }

.just--self--baseline {
  justify-self: baseline; }

.align--content--start {
  -ms-flex-line-pack: start;
  align-content: start; }

.align--content--center {
  -ms-flex-line-pack: center;
  align-content: center; }

.align--content--end {
  -ms-flex-line-pack: end;
  align-content: end; }

.align--content--stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.align--content--around {
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.align--content--between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.align--content--evenly {
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly; }

.align--items--start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }

.align--items--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align--items--end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end; }

.align--items--baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.align--self--start {
  -ms-flex-item-align: start;
  align-self: start; }

.align--self--center {
  -ms-flex-item-align: center;
  align-self: center; }

.align--self--end {
  -ms-flex-item-align: end;
  align-self: end; }

.align--self--stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch; }

.align--self--baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.background-white {
  background: #FFF; }

.color-white {
  color: #FFF; }

.background-off-white {
  background: #f4f0f8; }

.color-off-white {
  color: #f4f0f8; }

.background-light-red {
  background: #F8D0D1; }

.color-light-red {
  color: #F8D0D1; }

.background-medium-red {
  background: #F1A2A5; }

.color-medium-red {
  color: #F1A2A5; }

.background-dark-red {
  background: #eb5961; }

.color-dark-red {
  color: #eb5961; }

.background-light-yellow {
  background: #FDE5B9; }

.color-light-yellow {
  color: #FDE5B9; }

.background-medium-yellow {
  background: #fdcb6c; }

.color-medium-yellow {
  color: #fdcb6c; }

.background-dark-yellow {
  background: #C9A157; }

.color-dark-yellow {
  color: #C9A157; }

.background-light-purple {
  background: #502F61; }

.color-light-purple {
  color: #502F61; }

.background-dark-purple {
  background: #3f1b52; }

.color-dark-purple {
  color: #3f1b52; }

.background-light-green {
  background: #6ad59d; }

.color-light-green {
  color: #6ad59d; }

.background-medium-green {
  background: #4fdc98; }

.color-medium-green {
  color: #4fdc98; }

.background-dark-green {
  background: #43c67e; }

.color-dark-green {
  color: #43c67e; }

.background-light-grey {
  background: #f1f2f2; }

.color-light-grey {
  color: #f1f2f2; }

.background-mediumlight-grey {
  background: #bbbebf; }

.color-mediumlight-grey {
  color: #bbbebf; }

.background-l medium-grey {
  background: #888a8b; }

.color-l medium-grey {
  color: #888a8b; }

.background-dark-grey {
  background: #5b6061; }

.color-dark-grey {
  color: #5b6061; }

@font-face {
  font-family: 'NuonMatthew';
  src: url("/Fonts/NuonMatthew-Bold.woff2") format("woff2"), url("../Fonts/NuonMatthew-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeueBook';
  src: url("../Fonts/BebasNeueBook.woff2") format("woff2"), url("../Fonts/BebasNeueBook.woff") format("woff"), url("../Fonts/BebasNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../Fonts/BebasNeue-Thin.woff2") format("woff2"), url("../Fonts/BebasNeue-Thin.woff") format("woff"), url("../Fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../Fonts/BebasNeueRegular.woff2") format("woff2"), url("../Fonts/BebasNeueRegular.woff") format("woff"), url("../Fonts/BebasNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../Fonts/BebasNeueBold.woff2") format("woff2"), url("../Fonts/BebasNeueBold.woff") format("woff"), url("../Fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/**
 * Font definitions
 */
html {
  font-size: 100%; }

body {
  font: 1rem "PT Sans", sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5rem;
  overflow-x: hidden; }

.typ-display {
  font-family: 'NuonMatthew', sans-serif;
  font-size: 2rem;
  line-height: 2.625rem;
  font-weight: bold; }
  .typ-display--caps {
    text-transform: uppercase; }
  @media (min-width: 576px) {
    .typ-display {
      font-size: 2.5rem;
      line-height: 3.125rem; } }
  @media (min-width: 768px) {
    .typ-display {
      font-size: 3rem;
      line-height: 3.625rem; } }
  @media (min-width: 992px) {
    .typ-display {
      font-size: 3.625rem;
      line-height: 4.25rem; } }

.typ-h1 {
  font-family: 'NuonMatthew', sans-serif;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: bold; }
  @media (min-width: 992px) {
    .typ-h1 {
      font-size: 2.5rem;
      line-height: 3.125rem; } }

.typ-h2 {
  font-family: 'NuonMatthew', sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: normal; }
  @media (min-width: 992px) {
    .typ-h2 {
      font-size: 2rem;
      line-height: 2.5rem; } }

.typ-h3 {
  font-family: 'NuonMatthew', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal; }

.typ-h4 {
  font-family: 'NuonMatthew', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal; }

.typ-h5 {
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700; }

.typ-p {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

.typ-small {
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem; }

@font-face {
  font-family: "icomoon";
  src: url("/fonts/iconfonts/icomoon.eot?woryae");
  src: url("/fonts/iconfonts/icomoon.eot?woryae#iefix") format("embedded-opentype"), url("/fonts/iconfonts/icomoon.ttf?woryae") format("truetype"), url("/fonts/iconfonts/icomoon.woff?woryae") format("woff"), url("/fonts/iconfonts/icomoon.svg?woryae#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-whatsapp:before {
  content: ""; }

button, .button {
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px -1px rgba(91, 96, 97, 0.2), 0 4px 5px 0 rgba(91, 96, 97, 0.14), 0 1px 1px 0 rgba(91, 96, 97, 0.12);
  box-shadow: 0 2px 2px -1px rgba(91, 96, 97, 0.2), 0 4px 5px 0 rgba(91, 96, 97, 0.14), 0 1px 1px 0 rgba(91, 96, 97, 0.12);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  font-size: 1rem;
  line-height: 1;
  padding-right: .5rem;
  cursor: pointer; }
  button--primary, .button--primary {
    background: #f4f0f8;
    color: #3f1b52;
    font-family: 'NuonMatthew', sans-serif;
    font-size: 1.25rem;
    line-height: 1; }
    @media (min-width: 768px) {
      button--primary, .button--primary {
        font-size: 2rem;
        line-height: 1; } }
  button--secondary, .button--secondary {
    height: 32px;
    color: #f4f0f8;
    background: #3f1b52; }
  button:hover, .button:hover {
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px -2px rgba(91, 96, 97, 0.2), 0 2px 2px 0 rgba(91, 96, 97, 0.14), 0 1px 5px 0 rgba(91, 96, 97, 0.12);
    box-shadow: 0 1px 1px -2px rgba(91, 96, 97, 0.2), 0 2px 2px 0 rgba(91, 96, 97, 0.14), 0 1px 5px 0 rgba(91, 96, 97, 0.12);
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

body {
  margin: 0;
  padding: 0;
  font-family: 'NuonMatthew';
  background: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  height: calc(100vh - 62px);*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*  flex-direction: column;
  justify-self: stretch;*/ }
  body .main {
    /*height: calc(100vh - 158px);*/
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0; }
    body .main .img-wrapper {
      position: relative; }
      body .main .img-wrapper:after {
        content: '';
        width: 150%;
        height: 150%;
        background: #edd1b599;
        display: block;
        border-radius: 50%;
        -webkit-filter: blur(38px);
        filter: blur(38px);
        z-index: -1;
        top: -100%;
        position: absolute;
        left: -25%; }
    body .main .logo {
      -webkit-box-shadow: 0 0 32px -4px #FFF;
      box-shadow: 0 0 32px -4px #FFF; }
      body .main .logo--main {
        max-height: calc(33vh - 110px); }
      body .main .logo--small {
        max-height: calc(25vh - 110px); }
    body .main .input-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .main .input-wrapper textarea {
        background-image: repeating-linear-gradient(0deg, rgba(235, 233, 233, 0), rgba(235, 233, 233, 0) 41px, #3f1b52 41px, #3f1b52 44px);
        background-position: center 40px;
        width: 50%;
        height: 137px;
        background-color: transparent;
        border: none;
        resize: none;
        text-align: center;
        margin: auto; }
        @media (min-width: 576px) {
          body .main .input-wrapper textarea {
            background-image: repeating-linear-gradient(0deg, rgba(235, 233, 233, 0), rgba(235, 233, 233, 0) 51px, #3f1b52 51px, #3f1b52 54px);
            background-position: center 50px;
            width: 40%;
            height: 138px; } }
        @media (min-width: 768px) {
          body .main .input-wrapper textarea {
            background-image: repeating-linear-gradient(0deg, rgba(235, 233, 233, 0), rgba(235, 233, 233, 0) 57px, #3f1b52 57px, #3f1b52 60px);
            height: 13.35rem;
            background-position: center 56px;
            width: 50%;
            height: 180px; } }
        @media (min-width: 992px) {
          body .main .input-wrapper textarea {
            background-image: repeating-linear-gradient(0deg, rgba(235, 233, 233, 0), rgba(235, 233, 233, 0) 67px, #3f1b52 67px, #3f1b52 70px);
            height: 13.35rem;
            background-position: center 66px; } }

.component-container--footer {
  position: fixed;
  -webkit-transition: .5s ease-in-out;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
  height: 30px;
  width: 100%;
  bottom: 0;
  z-index: 999;
  height: 30px; }
  .component-container--footer.open {
    height: 96px; }
    @media (min-width: 768px) {
      .component-container--footer.open {
        height: 136px; } }
  .component-container--footer #burger {
    width: 40px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between; }
    .component-container--footer #burger span {
      display: block;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 4px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .component-container--footer #burger span:nth-child(2) {
        position: relative; }
        .component-container--footer #burger span:nth-child(2):after {
          content: '';
          display: block;
          position: absolute;
          height: 5px;
          width: 100%;
          background: white;
          border-radius: 4px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
    .component-container--footer #burger.open span:nth-child(1) {
      opacity: 0; }
    .component-container--footer #burger.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
      .component-container--footer #burger.open span:nth-child(2):after {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg); }
    .component-container--footer #burger.open span:nth-child(3) {
      opacity: 0; }
  .component-container--footer #nav {
    display: none;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .component-container--footer #nav.open {
      display: block; }
    .component-container--footer #nav a {
      width: 100%;
      display: block;
      text-align: center;
      text-decoration: none; }
  .component-container--footer .logo-wrapper {
    position: relative; }
    .component-container--footer .logo-wrapper .logo {
      height: 40px;
      position: absolute;
      top: -36px;
      right: 0; }

.step {
  position: absolute;
  width: 100%;
  opacity: 0;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
  height: calc(100vh - 158px); }
  .step.hidden {
    opacity: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    z-index: 0; }
  .step.active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
    z-index: 3; }
  .step .next:not(.button) {
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .step .next:not(.button):hover {
      -webkit-box-shadow: 0 0 15px -3px #fff;
      box-shadow: 0 0 15px -3px #fff;
      z-index: 5;
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
  @media (min-width: 768px) {
    .step .column.column--50.column--25-lg.m-no:nth-of-type(4) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .step .column.column--50.column--25-lg.m-no:nth-of-type(3) {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; } }

.share-button {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  text-decoration: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1); }
  .share-button:hover {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: 0 0 15px -3px #fff;
    box-shadow: 0 0 15px -3px #fff;
    background: #502F61;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

.photo-selection {
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (min-width: 768px) {
    .photo-selection {
      padding-left: 8rem;
      padding-right: 8rem; } }

.result img {
  max-height: calc(33vh - 55px); }
