button, .button {
  padding: 0;
  border:none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(91,96,97, 0.2), 0 4px 5px 0 rgba(91,96,97, 0.14), 0 1px 1px 0 rgba(91,96,97, 0.12);
  transform: scale(1);
  transition: all 0.25s ease-in-out;
  transform-origin: bottom;
  font-size: 1rem;
  line-height: 1;
  padding-right: .5rem;
  cursor: pointer;

  &--primary {
    background: $color-off-white;
    color: $color-purple-dark;

    font-family: 'NuonMatthew', sans-serif;
    font-size: rem(20px);
    line-height: 1;
    @include breakpoint(md)  {
      font-size: rem(32px);
      line-height: 1;
    }
 }

  &--secondary {
    height: 32px;
    color: $color-off-white;
    background: $color-purple-dark;
  }

  &:hover {
    background: $color-white;
    box-shadow: 0 1px 1px -2px rgba(91,96,97, 0.2), 0 2px 2px 0 rgba(91,96,97, 0.14), 0 1px 5px 0 rgba(91,96,97, 0.12);
    transform: scale(.95);
  }

}

