.component-container{
    margin: 1rem 0;
  &--header {
    margin: 0 0 1rem;
  }
  &--footer {
    margin: 1rem 0 0;
  }
  @include breakpoint(md) {
    margin: 2rem 0;
    &--header {
      margin: 0 0 2rem;
    }
    &--footer {
      margin: 2rem 0 0;
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
  .row {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 .5rem;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(md) {
      padding: 0 1rem;  
    }
    @include breakpoint(lg) {
      max-width: 992px;
    }
    @include breakpoint(xl) {
      max-width: 1200px;
    }


    $col_100: 100%;
    $col_90: 90%;
    $col_80: 80%;
    $col_75: 75%;
    $col_70: 70%;
    $col_66: 66.66%;
    $col_60: 60%;
    $col_50: 50%;
    $col_40: 40%;
    $col_33: 33.33%;
    $col_30: 30%;
    $col_25: 25%;
    $col_20: 20%;
    $col_10: 10%;
    $col_one-eight: 12.5%;
    $col_three-eight: 37.5%;
    $col_five-eight: 62.5%;
    $col_seven-eight: 87.5%;

    $gutter: .5rem;

    $columnwidths: (
            100: $col_100,
            90: $col_90,
            80: $col_80,
            75: $col_75,
            70: $col_70,
            66: $col_66,
            50: $col_50,
            40: $col_40,
            33: $col_33,
            30: $col_30,
            25: $col_25,
            20: $col_20,
            10: $col_10,
            one-eight: $col_one-eight,
            three-eight: $col_three-eight,
            five-eight: $col_five-eight,
            seven-eight: $col_seven-eight
    );
    $breakpoints: (
          "": "",
          "sm": 576px,
          "md": 768px,
          "lg": 992px,
          "xl": 1400px,
  );
    @each $breakpointName, $breakpoint in $breakpoints {
      @each $colName, $columnwidth in $columnwidths {
        $selector: #{$colName};
        @if $breakpointName != "" {
          $selector: #{$colName}-#{$breakpointName};
        }

        @if $breakpointName != "" {
          @media (min-width: $breakpoint) {
          .column--#{$selector} {
            margin-left: $gutter;
            margin-right: $gutter;
            flex: 0 1 calc(#{$columnwidth} - 2 * #{$gutter});
            max-width: calc(#{$columnwidth} - 2 * #{$gutter});
            }
          }
        }
        @else {
          .column--#{$selector} {
            margin-left: $gutter;
            margin-right: $gutter;
            flex: 0 1 calc(#{$columnwidth} - 2 * #{$gutter});
            max-width: calc(#{$columnwidth} - 2 * #{$gutter});
          }
        }
      }
    }
    .column {
      &:not(column--100) {
        &:not(:last-child) {
          margin-bottom: 1rem;
          @include breakpoint(md) {
            margin-bottom: 0rem;
          }
        }
      }
    }
  }

.component-container {
  &--header {
    .column {
      &:not(column--100) {
        &:not(:last-child) {
          margin-bottom: 0;}
      }
    }
  }
}

